@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext.ttf');
}

.avenir-next { font-family: "AvenirNext", sans-serif; }

canvas {
    left: 50%;
    max-height: 120%;
    max-width: 120%;
    position: absolute;
    top: 40%;
}

.left-50 {
   left: 50%;
   transform: translate(-50%);
}

.absolute-center {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.scale-norm {
   transform: scale(1);
   transition: transform .3s;
}

.scale-up {
   transform: scale(1.2);
}
